html {
  font-size: 18px;
  font-family: Consolas, monaco, monospace;
  color: white;
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("/static/background-image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome_board {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
#welcome_board > #contents {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}
#welcome_board > #contents > #login {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
#welcome_board > #contents > #information {
  padding-left: 8px;
  width: 100%;
  height: auto;
}
#welcome_board > #contents > #login > .textbox_bg {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#welcome_board > #contents > #login > #button_bg {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#main_menu {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
#main_menu > #logout_bg {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  align-self: flex-end;
  width: 100px;
  height: 30px;
}
#main_menu > #board {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 80%;
  overflow: auto;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#main_menu > #board > #title_bg {
  height: 30px;
  width: 100%;
}
#main_menu > #board > #title_bg > #title_text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 25px;
}
#main_menu > #board > #course_field {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
.course_button_bg {
  z-index: 1;
  position: relative;
  float: left;
  margin-top: 10px;
  height: 35px;
  width: 100%;
}
.course_button_text {
  font-size: 18px;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
  cursor: default;
  text-align: center;
  z-index: -1;
  overflow: hidden;
  font-size: 20px;
}
.file_label {
  margin: 5px;
  font-size: 20px;
  flex-shrink: 0;
}
.file_lists {
  margin: 5px;
  font-size: 15px;
}
.button {
  position: absolute;
  cursor: default;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.button_text {
  font-size: 18px;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
  cursor: default;
  text-align: center;
  z-index: -1;
  overflow: hidden;
}
.center_vertically {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.textbox {
  position: relative;
  float: left;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px solid;
  padding-left: 10px;
}
.assign_bg {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  height: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}
.assign_name {
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  font-size: 20px;
  align-self: flex-start;
}
.assign_due {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  align-self: flex-end;
}
.score_board {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  align-self: flex-start;
}
.file_container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
}
.src_container {
  padding: 5px;
  margin: 10px;
  background-color: rgba(100, 100, 100, 0.6);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
.file_dragged {
  background-color: rgba(235, 235, 235, 0.5);
}
#assign_body {
  top: 100%;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}
#panel > #content_container > #buttons_container > #main_button_bg {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 120px;
  height: 30px;
  font-size: 15px;
}
#panel {
  top: -100%;
  position: relative;
  height: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}
#panel > #content_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}
#panel > #content_container > #course {
  position: relative;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  text-align: center;
}
#panel > #content_container > #buttons_container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button_bg {
  z-index: 1;
}
